h1{
  color:blue;
  text-align:center;
}

p{
  color:orange;
  text-align: center;
}

div{
  width:200px;
  color: white;
  background-color: black;
  height:500px;
  margin:30px;
  padding: 20px;

  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;

  border:3px solid yellow;
}
